@charset "utf-8"
body
  font-size: 15px;

@media screen and (max-width: 360px)
  body
    font-size 12px !important
.full-width
  width 100%
.relative
  position relative
.banner-bg
  background-size: cover !important
  background-repeat: no-repeat !important
  background-position: center !important
.container
  position fixed
  top 0
  left 0
  right 0
  bottom 0
  box-sizing: border-box
  display flex
  flex-direction column
  .box
    flex 1
    box-sizing: border-box
.row,
.flex
  display: flex
  flex-wrap: wrap
.col
  flex 1
.border-box
  box-sizing: border-box
.align-center
  align-items  center
.justify-center 
  justify-content center
.text-center
  text-align: center
.flex-20
  flex 0 0 20px
.ft-12
  font-size 12px
.padding-xl
  padding 20px
.pt-2rem
  padding-top 2rem
.pr-0
  padding-right 0px !important
.pr-5
  padding-right 5px !important
.ml-5
  margin-left 5px
.ml-10
  margin-left 10px
.mr-5
  margin-right 5px
.mt-5
  margin-top 5px
.mt-10
  margin-top 10px
.mt-15
  margin-top 15px
.mt-20
  margin-top 20px
.mt-25
  margin-top 25px
.flex-65
  flex 0 0 65px
.text-bold
  font-weight: bold
.text-yellow
  color #fdd800
.text-red
  color #f7512b
input:focus
  outline none !important